[submodule "deck.js-extended"]
	path = deck.js-extended
	url = https://github.com/twitwi/deck.js.git
[submodule "deck.js-theme-builder"]
	path = deck.js-theme-builder
	url = https://github.com/twitwi/deck.js-theme-builder.git
